<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboard.css">

</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="mx-auto" style="text-align: center">{{name}}</h1>
            {{!-- <p>Email: {{email}}</p> --}}

            <form action="/document" method="POST">
            <div class="input-group mb-3 w-50 mx-auto mt-3">
            <input type="text" class="form-control" id="input" name="name" placeholder="Start a Collab">
            <div class="input-group-append">
                <button class="btn btn-dark" type="submit" id="button">Start</button>
            </div>
            </div>
            </form>

            {{#each documents}}
            <div class="documents">
                {{this.name}}
                <button class="btn btn-dark update" style="margin-left: auto;" data="{{this._id}}" onclick="Open(event)">Open</button>
                <button class="btn btn-dark update" data="{{this._id}}" onclick="Delete(event)">Delete</button>
            </div>
            {{/each}}
        </div>
    </div>
    <script src="/js/dashboard.js"></script>
</body>
</html>